//
    Copyright 2017-2018 James V. Craster
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
        http://www.apache.org/licenses/LICENSE-2.0
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
     
mixin lobbyEntry(gameNumber, name, players, inPlay, gameType)
    div(class="item" number=gameNumber name=name inPlay="false")
        - if(inPlay){
        p
            span(class="gameName")= name
            span(class="inPlay")= "[IN PLAY]"
        - }else{
        p 
            span(class="gameName")= name
            span(class="inPlay")= "[OPEN]"
        - }
        br
        p Players:  
            span
                - var n = 0;
                - while(n < players.length){
                    - if(n != 0){
                    span(style="color:#cecece") , 
                    span(class="username" style="color:" + players[n].color)= players[n].username
                    - }else{
                    span(class="username" style="color:" + players[n].color)= players[n].username
                    - }
                    - n+=1;
                -}
            span(id="gameType")= gameType